@model Application.Modules.LessonsModule.LessonDetailResponseDto
@{
    ViewData["Title"] = "Edit Lesson";
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Edit Lesson</h4>
                    <span>Update the lesson details or re-assign groups.</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                        <a asp-controller="Dashboard" asp-action="Index"> <i class="feather icon-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <a asp-action="Index">Lessons</a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <a href="#!">Edit</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Edit Lesson Form</h5>
                    <span>Basic information for Lesson ID: <code>@Model.Id</code></span>
                </div>
                <div class="card-block">
                    <h4 class="sub-title">Lesson Information</h4>

                    <form asp-action="Edit" method="post">
                        @Html.AntiForgeryToken()
                        <input type="hidden" asp-for="Id" />

                        @* --- Subject Dropdown --- *@
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Subject</label>
                            <div class="col-sm-10">
                                <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.Subjects">
                                    <option value="">-- Select Subject --</option>
                                </select>
                                <span asp-validation-for="SubjectId" class="text-danger"></span>
                            </div>
                        </div>

                        @* --- Teacher Dropdown --- *@
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Teacher</label>
                            <div class="col-sm-10">
                                <select asp-for="TeacherId" class="form-control" asp-items="ViewBag.Teachers">
                                    <option value="">-- Select Teacher --</option>
                                </select>
                                <span asp-validation-for="TeacherId" class="text-danger"></span>
                            </div>
                        </div>

                        <hr />

                        <div class="form-group text-right m-t-20">
                            <a asp-action="Index" class="btn btn-primary">Ləğv et (Cancel)</a>
                            <button type="submit" class="btn btn-warning">Yadda saxla (Save Changes)</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}